@mixin flex($flex-direction:row,$justify-content:normal,$align-items:normal,$gap:0px){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap:$gap;
}

@mixin grid($grid-template-columns:1fr,$grid-gap:0px){
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-gap:$grid-gap;
}

@mixin  button($bg:inherit,$border:none,$padding:0px,$border-radius:none,$color:black){
    background: $bg;
    border: $border;
    padding: $padding;
    border-radius:$border-radius;
    color:$color;
    cursor: pointer;
}

@mixin  link($bg:inherit,$border:none,$padding:0px,$border-radius:none,$color:black){
    background: $bg;
    border: $border;
    padding: $padding;
    border-radius:$border-radius;
    color:$color;
}